SERVE_HOST=localhost
SERVE_PORT=8081
S3_ACCESS_KEY=miniokey
S3_SECRET_KEY=miniosecret
S3_REGION=us-east-1
S3_ENDPOINT=http://localhost:9000
LOGGER_LEVEL=info
LOGGER_FILE=gopie.log
LOGGER_MODE=dev
MOTHERDUCK_TOKEN=
MOTHERDUCK_DB_NAME=test
MOTHERDUCK_ACCESS_MODE=read_only
PORTKEY_APIKEY==
PORTKEY_BASEURL=https://api.portkey.ai/v1
PORTKEY_MODEL=
PORTKEY_VIRTUALKEY=
