# Database connection settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=gopie
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# DuckDB configuration
GOPIE_API_SERVER_HOST=localhost
GOPIE_API_SERVER_PORT=8000
GOPIE_LOGGER_LEVEL=info
GOPIE_LOGGER_FILE=gopie.log
GOPIE_LOGGER_MODE=dev
GOPIE_PORTKEY_APIKEY=bRUBnBaNaOg8Qou7B7jVHsuIVsc=
GOPIE_PORTKEY_BASEURL=
GOPIE_PORTKEY_MODEL=
GOPIE_PORTKEY_VIRTUALKEY=
GOPIE_DUCKDB_PATH=/dataful/gopie.duckdb

GOPIE_OLAPDB_DBTYPE=duckdb
GOPIE_OLAPDB_ACCESS_MODE=read_write

##### POSTGRES CONFIGURATION #####
GOPIE_POSTGRES_HOST=postgres
GOPIE_POSTGRES_PORT=5432
GOPIE_POSTGRES_DB=gopie
GOPIE_POSTGRES_USER=postgres
GOPIE_POSTGRES_PASSWORD=postgres
GOPIE_POSTGRES_SSLMODE=disable
GOPIE_AIAGENT_URL=http://chat-server:8001
GOPIE_ENCRYPTION_KEY=E5B8A0F3C1D9E7B2A5F0C3D8E6B1A4F2
GOPIE_ENABLED_SERVERS=api
GOPIE_S3_ACCESS_KEY=minioadmin
GOPIE_S3_SECRET_KEY=minioadmin
GOPIE_S3_ENDPOINT=http://minio:9000
GOPIE_S3_SSL=false
GOPIE_S3_REGION=us-east-1

## GOPIE Web UI Configuration
NEXT_PUBLIC_COMPANION_URL="http://localhost:3020"
NEXT_PUBLIC_GOPIE_API_URL="http://localhost:8000"
NEXT_PUBLIC_ENABLE_AUTH="false"
