GOPIE_SERVE_HOST=localhost
GOPIE_SERVE_PORT=8081
GOPIE_S3_ACCESS_KEY=miniokey
GOPIE_S3_SECRET_KEY=miniosecret
GOPIE_S3_REGION=us-east-1
GOPIE_S3_ENDPOINT=http://localhost:9000
GOPIE_LOGGER_LEVEL=info
GOPIE_LOGGER_FILE=gopie.log
GOPIE_LOGGER_MODE=dev
GOPIE_MOTHERDUCK_TOKEN=
GOPIE_MOTHERDUCK_DB_NAME=test
GOPIE_MOTHERDUCK_ACCESS_MODE=read_only
GOPIE_PORTKEY_APIKEY==
GOPIE_PORTKEY_BASEURL=https://api.portkey.ai/v1
GOPIE_PORTKEY_MODEL=
GOPIE_PORTKEY_VIRTUALKEY=
GOPIE_METERUS_ADDR=
GOPIE_METERUS_APIKEY=
GOPIE_POSTGRES_HOST=localhost
GOPIE_POSTGRES_PORT=5432
GOPIE_POSTGRES_DB=gopie
GOPIE_POSTGRES_USER=postgres
GOPIE_POSTGRES_PASSWORD=postgres
ZITADEL_DOMAIN=host.docker.internal
ZITADEL_INSECURE_PORT=4455
zitadel_protocol=http
ZITADEL_PROJECT_ID=304900297308766211
ZITADEL_PERSONAL_ACCESS_TOKEN=8Fusqjdu2SBeR-46lXH5n-jlcnsVjv8u9DRdSlKIR4ukVcJUhqsId-MyaNflQD8hpKjPTZ4
zitadel_service_user_id=304903474057838595