DUCKDB_DSN=./data/main.db
LOG_LEVEL=debug
LOG_OUTPUT=stdout
APPLICATION_MODE=dev
MASTER_KEY=masterkey
SERVER_PORT=8000
DUCKDB_DSN=./data/main.db
BBOLT_PATH=./auth_bblot.db
OPEN_AI_API_KEY=[REMOVED]
S3_ACCESS_KEY=miniokey
S3_SECRET_ACCESS_KEY=miniosecret
S3_ENDPOINT=http://localhost:9000
S3_BUCKET_NAME=gopie
