# Database connection settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=gopie
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# DuckDB configuration
GOPIE_API_SERVER_HOST=localhost
GOPIE_API_SERVER_PORT=8000
GOPIE_LOGGER_LEVEL=info
GOPIE_LOGGER_FILE=gopie.log
GOPIE_LOGGER_MODE=dev
GOPIE_PORTKEY_APIKEY=bRUBnBaNaOg8Qou7B7jVHsuIVsc=
GOPIE_PORTKEY_BASEURL=
GOPIE_PORTKEY_MODEL=
GOPIE_PORTKEY_VIRTUALKEY=
GOPIE_DUCKDB_PATH=/dataful/gopie.duckdb

GOPIE_OLAPDB_DBTYPE=duckdb
GOPIE_OLAPDB_ACCESS_MODE=read_write

##### POSTGRES CONFIGURATION #####
GOPIE_POSTGRES_HOST=postgres
GOPIE_POSTGRES_PORT=5432
GOPIE_POSTGRES_DB=gopie
GOPIE_POSTGRES_USER=postgres
GOPIE_POSTGRES_PASSWORD=postgres
GOPIE_POSTGRES_SSLMODE=disable
GOPIE_AIAGENT_URL=http://chat-server:8001
GOPIE_ENCRYPTION_KEY=E5B8A0F3C1D9E7B2A5F0C3D8E6B1A4F2
GOPIE_ENABLED_SERVERS=api
GOPIE_S3_ACCESS_KEY=minioadmin
GOPIE_S3_SECRET_KEY=minioadmin
GOPIE_S3_ENDPOINT=http://minio:9000
GOPIE_S3_SSL=false
GOPIE_S3_REGION=us-east-1

## GOPIE Web UI Configuration
NEXT_PUBLIC_COMPANION_URL="http://localhost:3020"
NEXT_PUBLIC_GOPIE_API_URL="http://localhost:8000"
NEXT_PUBLIC_ENABLE_AUTH="false"

# CHAT SERVER Configuration
PROJECT_NAME="Gopie Chat Server"
API_V1_STR="/api/v1"
MODE="development"

# CHAT SERVER Portkey Configuration
PORTKEY_API_KEY=""
OPENAI_VIRTUAL_KEY=""
GEMINI_VIRTUAL_KEY=""

# E2B Configuration
E2B_API_KEY=""
E2B_TIMEOUT=120

# Provider API Keys
OPENAI_API_KEY=""
GOOGLE_API_KEY=""

# Google Service Account Configuration
GOOGLE_PROJECT_ID=""
GOOGLE_LOCATION="us-central1"
GOOGLE_SERVICE_ACCOUNT_JSON="./chat-server/google/service-account.json"
GOOGLE_APPLICATION_CREDENTIALS="./google/service-account.json"

GOPIE_API_ENDPOINT="http://host.docker.internal:8000"

GATEWAY_PROVIDER="portkey_hosted"

# Portkey Self Hosted URL
PORTKEY_SELF_HOSTED_URL="http://host.docker.internal:8787/v1"

# LITELLM Configuration
LITELLM_BASE_URL="http://host.docker.internal:4000/v1"
LITELLM_MASTER_KEY="sk-1234"

# Cloudflare Configuration
CLOUDFLARE_GATEWAY_URL="https://gateway.ai.cloudflare.com/v1/{account_id}/{gateway_id}"
CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_API_TOKEN=""
CLOUDFLARE_GATEWAY_ID="gopie-chat-server"

# OpenRouter Configuration
OPENROUTER_API_KEY=""
OPENROUTER_BASE_URL="https://openrouter.ai/api/v1"

# LangSmith Configuration
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT="gopie-chat-server-local"
LANGSMITH_PROMPT=false

# Default Models
FAST_MODEL="gpt-4o"
BALANCED_MODEL="gpt-4o"
ADVANCED_MODEL="gpt-4o"
DEFAULT_OPENAI_MODEL="o4-mini"
DEFAULT_EMBEDDING_MODEL="text-embedding-3-large"
DEFAULT_GEMINI_MODEL="gemini-2.5-flash-preview-04-17"
DEFAULT_VENDOR="openai"

# CHAT SERVER S3 Configuration
S3_HOST="http://host.docker.internal:9000"
S3_ACCESS_KEY="minioadmin"
S3_SECRET_KEY="minioadmin"
S3_BUCKET="gopie"
S3_SECURE="false"
S3_REGION="us-east-1"

# CHAT SERVER Qdrant Configuration
QDRANT_HOST="host.docker.internal"
QDRANT_COLLECTION="dataset_collection"
QDRANT_PORT=6333
QDRANT_TOP_K=5

# Custom Embedding Provider
CUSTOM_EMBEDDING_BASE_URL=""
CUSTOM_EMBEDDING_API_KEY=""
CUSTOM_EMBEDDING_MODEL=""

# Custom LLM Provider
CUSTOM_LLM_BASE_URL=""
CUSTOM_LLM_API_KEY=""