# Server Configuration
GOPIE_DS_SERVER_HOST=localhost
GOPIE_DS_SERVER_PORT=8000

# S3 Storage Configuration
GOPIE_DS_S3_ACCESS_KEY=minioadmin
GOPIE_DS_S3_SECRET_KEY=minioadmin
GOPIE_DS_S3_REGION=us-east-1
GOPIE_DS_S3_ENDPOINT=http://localhost:9000
GOPIE_DS_S3_BUCKET=downloads
GOPIE_DS_S3_SSL=false

# Logger Configuration
GOPIE_DS_LOGGER_LEVEL=info
GOPIE_DS_LOGGER_FILE=gopie.log
GOPIE_DS_LOGGER_MODE=dev

GOPIE_DS_MOTHERDUCK_DB_NAME=
GOPIE_DS_MOTHERDUCK_TOKEN=

# Postgres Configuration
GOPIE_DS_POSTGRES_HOST=localhost
GOPIE_DS_POSTGRES_PORT=5432
GOPIE_DS_POSTGRES_DB=gopie_sas
GOPIE_DS_POSTGRES_USER=postgres
GOPIE_DS_POSTGRES_PASSWORD=postres

# Queue Configuration
GOPIE_DS_QUEUE_WORKERS=10
GOPIE_DS_QUEUE_SIZE=1000

